/*#D2C2B3 pale gray
/ #262219 gray 
/ #FFFFF7 white 
/ #6C97CC blue
/ #795F3E brown
*/

a:visited {
    color:#f4eac2;
}
p {
    text-indent: 50px;
}
p {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
div {
	background-color: #794512;
    border: 25px solid #451e21;
    padding: 25px;
    margin: 25px;
}
body{
	color: #f4eac2;
	text-align: center;
	text-align: justify;
	font-size: 5;
	background-color: #7d3037;
}
div.altBG{
	
	background-color:#f4eac2;
}