body{
	color: antiquewhite;
	text-align: center;
	text-align: justify;
	font-size: 5;
    background-image: url("../Images/trees.png");
}
a:visited {
    color:antiquewhite;
}
p {
    text-indent: 50px;
}
p {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
div {
	background-color: #C98252;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
/*uwo*/
div.updates{
	background-color: #96CAEC;
    border: 25px solid #EBBFC0;
    padding: 25px;
    margin: 25px;
}
/* People borders*/ 
div.borderAlice{
	
	border-color:antiquewhite;
}
div.borderAmina{
	
	border-color:#fe6761;
}
div.borderChristine{
	
	border-color:white;
}
div.borderGianna{
	
	border-color:darkgreen;
}
div.borderKienen{
	
	border-color:#D25A7E;
}
div.borderShiro{
	
	border-color:#98ff98;
}
/* comic borders*/ 
div.borderDGLITW{
	
	border-color:maroon;
}
div.borderZF{
	
	border-color:#9a94bc;
	
}
div.borderTDBU{
	
	border-color:#F7FF74;
}
div.borderLE{
	
	border-color:#F7FF74;
}
div.borderDTIS{
	
	border-color:#ff557f;
}
div.borderTAC{
	
	border-color:#F7FF74;
}
img.icon{
	height:150;
	width:150;
	border: 5px solid green;
	border-radius: 5%;
}
iframe.disc{
	border: 20px solid antiquewhite;
	border-radius: 5%;
	resize: both;
    overflow: auto;
}
button{
background-color:green;
text-align: center;
border: 5px antiquewhite;
color:antiquewhite;
border-radius:10%;
}
/*I'm a sad bitch/*