
.slider {
	margin: auto;
	border: none;
	 display: block;
    margin-left: auto;
    margin-right: auto;
	
}

.slider-wrapper {
	width: 60%;
	margin: auto;
	 display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 200px;
	border: none;
}

.slide {
	margin: auto;
	float: left;
	position: absolute;
	 display: block;
    margin-left: auto;
    margin-right: auto;
}

