body{
	color: #9b5094;
	text-align: center;
	text-align: justify;
	font-size: 5
}
a:unvisited{
	color: #9b5094; 
}
a:visited{
	color: #9b5094; 
}
div {
	background-color: #8fb8de;
	border-color:#cdf7f6;
    border: 25px solid #cdf7f6;
    padding: 25px;
    margin: 25px;
}
button{
	 background-color: #9b5094;
    border: 5px solid #cdf7f6;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
button.archive{
	background-color: #9b5094;
    border: 5px solid #cdf7f6;
    color: whitesmoke;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
img.logo{
	height:300px;
	width:300px;
	border: 5px solid whitesmoke;
	border-radius: 5%;
}
img.archive{
	height:400px;
	width:200px;
	border: 15px solid whitesmoke;
	border-radius: 5%;
}
img.button{
	
}
select.archive {
    width: 50%;
    padding: 16px 20px;
    border: 4px solid whitesmoke;
    background-color: #9b5094;
}