body{
	color: #647A72;
	text-align: center;
	text-align: justify;
	font-size: 5
}
a:unvisited{
	color: #647A72; 
}
a:visited{
	color: #647A72; 
}
div {
	background-color: #DAFFB4;
    border: 25px solid #FC9144;
    padding: 25px;
    margin: 25px;
	border-color:#FC9144;
}