body{
	color: darkgray;
	text-align: center;
	text-align: justify;
	font-size: 5
}
a:unvisited{
	color: darkgray; 
}
a:visited{
	color: darkgray; 
}
div {
	background-color: #FFCAB1;
    border: 25px solid #659157;
    padding: 25px;
    margin: 25px;
	border-color:#659157;
}
div.desc{
	background-color: #FFCAB1;
    border: 10px solid #659157;
    padding: 10px;
    margin: 10px;
	border-color:#659157;
}
h1 { 
   font-size: 6;
	text-align: center;
}
h2{
	font-size: 4;
	text-align: center;
}