/* hi */
body{
	color: #FFFEFC;
	text-align: center;
	text-align: justify;
	font-size: 5;
	background-color: #578DA9;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a{
    color: #FFFEFC;
	text-align: center;
	text-align: justify;
	font-size: 5;
}
a:visited {
    color: #FFFEFC;
	text-align: center;
	text-align: justify;
	font-size: 5;
}
footer{
	display: block;
	background-color: #A99186;
	color: antiquewhite;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	size: 5; 
	text-indent: 50px;
	padding: 40px;
}
p {
    text-indent: 50px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #FFFEFC;
	text-align: center;
	text-align: justify;
	font-size: 5;
}
ul{
	font-size: 6;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
div {
	background-color: #A3CCD9;
    border: 25px solid #A99186;
    padding: 25px;
    margin: 25px;
}
img.trees{
	border-radius: 50px; 
}